<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>792497187130-pbtfhgcl7gmpmiffv5vf9t1orktjsunr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.792497187130-pbtfhgcl7gmpmiffv5vf9t1orktjsunr</string>
	<key>API_KEY</key>
	<string>AIzaSyDRnAIWc8B5SUqcF5j407vcARERjCUphio</string>
	<key>GCM_SENDER_ID</key>
	<string>792497187130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deranow.app</string>
	<key>PROJECT_ID</key>
	<string>deranow</string>
	<key>STORAGE_BUCKET</key>
	<string>deranow.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792497187130:ios:370f92bad18427527c4803</string>
</dict>
</plist>